<a href="https://colab.research.google.com/github/MohammedArifML/AZ-900T0x-MicrosoftAzureFundamentals/blob/master/Data_Lab_Bulletin_to_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os
import zipfile

In [ ]:
with zipfile.ZipFile('/content/Chapter 11 Environmental Statistics.zip', 'r') as zip_ref:
  zip_ref.extractall('/content/')

# Step 1:

Read excel files and create a list of dataframes out of them

In [ ]:
# important
pds=[]
os.getcwd


path=os.getcwd()
path='/content/Chapter 11 Environmental Statistics/Excel/'
files = os.listdir(path)
x=[]
xy=[]
print(files)
for f in files:
  if f.endswith('.xls') or f.endswith('.xlsx'):
    print(path+f)
    #print(f.split(sep='_')[-2],pd.ExcelFile(path+f).sheet_names)
    x.append({'year': f.split(sep='_')[-2], 'file_path':path+f, 'sheet_names':pd.ExcelFile(path+f).sheet_names})
    xy.append(pd.Series([str(path+f),','.join(pd.ExcelFile(str(path+f)).sheet_names)],name=f.split(sep='_')[-2],index=['file path','sheet names']))


pd.DataFrame(x)

['Environment_11_2017_AE.xlsx', 'Environment_11_2012_AE.xls', 'Environment_11_2015_AE.xlsx', 'Environment_11_2020_AE.xlsx', 'Environment_11_2016_AE.xlsx', 'Environment_11_2022_AE.xlsx', 'Environment_11_2018_AE.xlsx', '.ipynb_checkpoints', 'Environment_11_2014_AE.xlsx', 'Environment_11_2019_AE.xlsx', 'Environment_11_2023_AE.xlsx']
/content/Chapter 11 Environmental Statistics/Excel/Environment_11_2017_AE.xlsx
/content/Chapter 11 Environmental Statistics/Excel/Environment_11_2012_AE.xls
/content/Chapter 11 Environmental Statistics/Excel/Environment_11_2015_AE.xlsx
/content/Chapter 11 Environmental Statistics/Excel/Environment_11_2020_AE.xlsx
/content/Chapter 11 Environmental Statistics/Excel/Environment_11_2016_AE.xlsx
/content/Chapter 11 Environmental Statistics/Excel/Environment_11_2022_AE.xlsx
/content/Chapter 11 Environmental Statistics/Excel/Environment_11_2018_AE.xlsx
/content/Chapter 11 Environmental Statistics/Excel/Environment_11_2014_AE.xlsx
/content/Chapter 11 Environmental Statistics/Excel/Environment_11_2019_AE.xlsx
/content/Chapter 11 Environmental Statistics/Excel/Environment_11_2023_AE.xlsx

,year,file_path,sheet_names
0,2017,/content/Chapter 11 Environmental Statistics/E...,"[Cover, التقديم, 227, 228, 229, 230, GR-49, 23..."
1,2012,/content/Chapter 11 Environmental Statistics/E...,"[Cover, التقديم, 217, 218, 219, 220, 221, 222,..."
2,2015,/content/Chapter 11 Environmental Statistics/E...,"[Cover, التقديم, 1, 2, 3, 4, 5, 6, GR-2, 7, 8,..."
3,2020,/content/Chapter 11 Environmental Statistics/E...,"[Cover, التقديم, 229, 230, 231, 232, GR-49, 23..."
4,2016,/content/Chapter 11 Environmental Statistics/E...,"[Cover, التقديم, 219, 220, 221, 222, 223, 224,..."
5,2022,/content/Chapter 11 Environmental Statistics/E...,"[Cover, التقديم, 234, 235, 236, 237, GR-49, 23..."
6,2018,/content/Chapter 11 Environmental Statistics/E...,"[Cover, التقديم, 228, 229, 230, 231, GR-49, 23..."
7,2014,/content/Chapter 11 Environmental Statistics/E...,"[Cover, التقديم, 221, 222, 223, 224, 225, 226,..."
8,2019,/content/Chapter 11 Environmental Statistics/E...,"[Cover, التقديم, 229, 230, 231, 232, GR-49, 23..."
9,2023,/content/Chapter 11 Environmental Statistics/E...,"[Cover, التقديم, 234, 235, 236, 237, GR-49, 23..."

In [ ]:
test1=pd.read_excel('/content/Chapter 11 Environmental Statistics/Excel/Environment_11_2023_AE.xlsx',sheet_name='240',na_filter=False)
df=pd.DataFrame(test1)
heading_num=df['Unnamed: 1'].isna().cumprod().sum() # get the number of heading rows
heading_num=df['Unnamed: 1'].eq('').cumprod().sum()
year=df[:heading_num].iloc[-2].iloc[0]
variable=df[:heading_num].iloc[-3].iloc[0]
eng_title=df[:heading_num].iloc[-4].iloc[0]
if year == eng_title:
  eng_title=variable
  print('year:', year, 'title:', eng_title)
else:
  print('year:', year, 'title:', eng_title, 'variable: ',variable)
df.replace('',np.nan)

year: 2023 title: PERCENTAGE DISTRIBUTION OF DAILY MONITORING OF AIR QUALITY INDICATORS variable:  MOVENPICK (AL CORNICHE)

,التوزيع النسبي للرصد اليومي لمؤشرات جودة الهواء,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,موفينبيك (الكورنيش),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PERCENTAGE DISTRIBUTION OF DAILY MONITORING OF...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MOVENPICK (AL CORNICHE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,جدول رقم (240),NaN,NaN,NaN,NaN,NaN,NaN,NaN,TABLE (240)
6,وصف المؤشر\n\nالملوث,نظيف,طبيعي,أقل من الطبيعي,تلوث محدود,تلوث,تلوث شديد,المجموع,Indicator ...
7,NaN,Clean,Normal,Less than Normal,limitted Polluted,Polluted,Extremely Polluted,Total,NaN
8,ثنائي أكسيد الكبريت (SO2),1,0,0,0,0,0,1,Sulfur dioxide (SO2)
9,ثنائي أكسيد النيتروجين (NO2),0.986,0.014,0,0,0,0,1,Nitrogen dioxide (NO2)
10,الأوزون عند مستوى الأرض (O3),0.893443,0.095628,0.010929,0,0,0,1,Ground Level Ozone (O3)
11,أول أكسيد الكربون (CO),1,0,0,0,0,0,1,Carbon Monoxide (CO)
12,جسيمات دقيقة (PM10),0.222,0.751,0.027322,0,0,0,1.000322,Particulate Matter (PM10)
13,المصدر : وزارة البيئة والتغير المناخي.,NaN,NaN,NaN,NaN,NaN,Source: Ministry of Environment and Climate Ch...,NaN,NaN

# Step 2:

In [ ]:
# important
def get_data_frame(full_path,sheetname):
  test=pd.read_excel(full_path,sheet_name=sheetname)
  df=pd.DataFrame(test)
  try:
    title_arabic=df.iloc[1]['Unnamed: 0'] # gets year
    year=df.iloc[2]['Unnamed: 0'] # gets port name
    title_english=df.iloc[3]['Unnamed: 0'] # gets table tilte

    df.ffill(inplace=True) # replaces NaN values caused by merged cells
    col_names=df.iloc[7]

    #df.set_axis(df.iloc[7].values,axis='columns').dropna().melt(col_level=0)
    df=df.dropna().melt(id_vars=['Unnamed: 0', 'Unnamed: 1'])
    col_names.replace(to_replace="$(\n)",value="",regex=True, inplace=True)
    col_names
    df.replace(col_names.index,col_names.values,inplace=True)
    df = df[pd.to_numeric(df['value'], errors='coerce').notna()]
    df=df[df['Unnamed: 0'] != 'Total'][df['Unnamed: 1'] != 'Total'][df['variable'] != 'Total']
    #col_names
    df.rename(columns=col_names,inplace=True)
    df.insert(0, "Title in Arabic", year)
    df.insert(1,"Year",port)
    df.insert(2, "Table title", table_title)
    return df
  except:
    return df
dfs=[]
for el in x:
  for sheets in el['sheet_names']:
    #print(sheets)
    #print(el['file_path'])
    dataframe_table=get_data_frame(el['file_path'],sheets)
    dfs.append(dataframe_table)
#sheets_df=pd.DataFrame(x)
dfs[6]

KeyboardInterrupt:

In [ ]:
dfs[148]

,Table title,Country of Registration,Year,Port,Number & Tonnage,variable,value
185,Arriving Vessels' Gross and Net Tonnage By Typ...,QATAR,2023,المجـمـوع Total,No. of Vessels,Others,130
186,Arriving Vessels' Gross and Net Tonnage By Typ...,QATAR,2023,المجـمـوع Total,Gross Tonnage,Others,283025
187,Arriving Vessels' Gross and Net Tonnage By Typ...,QATAR,2023,المجـمـوع Total,Net Tonnage,Others,92510
188,Arriving Vessels' Gross and Net Tonnage By Typ...,United Arab Emirates,2023,المجـمـوع Total,No. of Vessels,Others,12
189,Arriving Vessels' Gross and Net Tonnage By Typ...,United Arab Emirates,2023,المجـمـوع Total,Gross Tonnage,Others,13905
...,...,...,...,...,...,...,...
1822,Arriving Vessels' Gross and Net Tonnage By Typ...,MARSHALL ISLAND,2023,المجـمـوع Total,Net Tonnage,Oil Tankers,2802489
1823,Arriving Vessels' Gross and Net Tonnage By Typ...,NOT STATED,2023,المجـمـوع Total,No. of Vessels,Oil Tankers,0
1824,Arriving Vessels' Gross and Net Tonnage By Typ...,NOT STATED,2023,المجـمـوع Total,Gross Tonnage,Oil Tankers,0
1825,Arriving Vessels' Gross and Net Tonnage By Typ...,NOT STATED,2023,المجـمـوع Total,Net Tonnage,Oil Tankers,0
1829,Arriving Vessels' Gross and Net Tonnage By Typ...,* The data includes all ports except Ras Laffa...,2023,المجـمـوع Total,Net Tonnage,Oil Tankers,12583969

In [ ]:
# important
table_titles=[]
for dataframe in dfs:
  try:
    table_titles.append(dataframe['Table title'].unique()[0])

  except:
    print('')
set(table_titles)
final_dfs=[]
for title in set(table_titles):
  temp_df=pd.DataFrame()
  for dataframe in dfs:
    if 'Table title' in dataframe.columns:
      #print(dataframe['Table title'])
      if title in dataframe['Table title'].values:
          temp_df=pd.concat([temp_df,dataframe])
  final_dfs.append(temp_df)

len(final_dfs)

3

In [ ]:
for df in final_dfs:
  df.to_excel(df['Table title'].unique()[0]+".xlsx")

# Ignore Code Below

In [ ]:
for el in x:
  print(el)
  for sheets in el['sheet_names']:
    #print(sheets)
    #print(el['file_path'])
    print(sheets)
    excel_file=pd.read_excel(el['file_path'], sheet_name=sheets)
    df_1=pd.DataFrame(excel_file,name=excel_file['Unnamed: 0'][3])
    df_1

{'year': '2018', 'file_path': '/content/Navigation Traffic/Excel/Navigation_Traffic_2018_AE.xlsx', 'sheet_names': ['Sheet1', 'Frst', 'Preface', 'Indx', 'Introduction', 'CH1', '1_1', '1-2', '1_3', '1-4', '1_5 ', '1_6', 'CH2', '2_1', '2_2', '2_3', '2_4', '2_5', '2_6 ', 'Gr-1', 'Gr-2', 'Annex', 'Qucst.']}
Sheet1

KeyError: 'Unnamed: 0'

In [ ]:
test=pd.read_excel("/content/Navigation Traffic/Excel/Navigation_Traffic_2018_AE.xlsx","1_1")
df=pd.DataFrame(test)
year=df.iloc[2]['Unnamed: 0'] # gets year
table_title=df.iloc[1]['Unnamed: 0'] # gets table tilte
port=df.iloc[3]['Unnamed: 0'] # gets port name
table_title_ar=df.iloc[0]['Unnamed: 0'] # gets table title in arabic

df.ffill(inplace=True) # replaces NaN values caused by merged cells
#col_names=df.iloc[7]
df.dropna()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
6,Country of Registration,Number & Tonnage,المجــمــوع,أخـــــرى,ناقلات ركاب,ناقلات مركبات,أغنام حية,مواد سائبة,حاويات,بضائع عامة,ناقلات غاز,ناقلات نفط,الـعـدد والحمولة,بلد التسجيل
7,Country of Registration,Number & Tonnage,Total,Others,Passengers Vessels\n,Vehicles Vessels\n,Live Sheep\n,Loose Materials\n,Containers,Generals goods\n,Gas Tankers\n,Oil Tankers\n,الـعـدد والحمولة,بلد التسجيل
8,QATAR,No. of Vessels,45,45,0,0,0,0,0,0,0,0,عــدد السفن,قطـــر
9,QATAR,Gross Tonnage,21831,21831,0,0,0,0,0,0,0,0,إجمالي الحمولة,قطـــر
10,QATAR,Net Tonnage,8732,8732,0,0,0,0,0,0,0,0,صـافي الحمولة,قطـــر
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,NOT STATED,Gross Tonnage,37,37,0,0,0,0,0,0,0,0,إجمالي الحمولة,غير مبيـــن
79,NOT STATED,Net Tonnage,37,37,0,0,0,0,0,0,0,0,صـافي الحمولة,غير مبيـــن
80,Total,No. of Vessels,131,82,27,0,0,20,1,1,0,0,عــدد السفن,المجــمــوع
81,Total,Gross Tonnage,3207874,487691,2215544,0,0,454448,45600,4591,0,0,إجمالي الحمولة,المجــمــوع
82,Total,Net Tonnage,2073834,346760,1444674,0,0,234834,45600,1966,0,0,صـافي الحمولة,المجــمــوع

In [ ]:
pds[7]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,السفن القادمة وحمولتها الإجمالية والصافية بالط...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arriving Vessels' Gross and Net Tonnage By Typ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ميناء مسيعيد Mesaieed Port,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Table No (1 - 2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,جـدول رقم (1 - 2)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,NaN,Gross Tonnage,47227,0,0,0,0,32297,0,0,0,14930,إجمالي الحمولة,NaN
148,NaN,Net Tonnage,23936,0,0,0,0,19458,0,0,0,4478,صـافي الحمولة,NaN
149,Total,No. of Vessels,1471,132,0,0,0,475,285,74,220,285,عــدد السفن,المجــمــوع
150,NaN,Gross Tonnage,40888674,362145,0,0,0,18057402,3879424,637801,7411874,10540028,إجمالي الحمولة,NaN
151,NaN,Net Tonnage,22391984,121388,0,0,0,10293216,1958886,327083,3657316,6034095,صـافي الحمولة,NaN

In [ ]:
files = os.listdir(path)
for file in files:
  print(file)

Navigation_Traffic_2019_AE.xlsx
Navigation_Traffic_2023_AE.xlsx
Navigation_Traffic_2018_AE.xlsx
Navigation_Traffic_2016_AE.xlsx
Navigation_Traffic_2021_AE.xlsx
Navigation_Traffic_2020_AE.xlsx
Navigation_Traffic_2017_AE.xlsx

'Qucst.'

In [ ]:
def get_data_frame(full_path,sheetname):
  test=pd.read_excel(full_path,sheet_name=sheetname)
  df=pd.DataFrame(test)
  year=df.iloc[2]['Unnamed: 0']
  table_title=df.iloc[1]['Unnamed: 0']
  port=df.iloc[3]['Unnamed: 0']
  df.ffill(inplace=True) # replaces NaN values caused by merged cells
  col_names=df.iloc[7]

  #df.set_axis(df.iloc[7].values,axis='columns').dropna().melt(col_level=0)
  df=df.dropna().melt(id_vars=['Unnamed: 0', 'Unnamed: 1'])
  col_names.replace(to_replace="$(\n)",value="",regex=True, inplace=True)
  col_names
  df.replace(col_names.index,col_names.values,inplace=True)
  df = df[pd.to_numeric(df['value'], errors='coerce').notna()]
  df=df[df['Unnamed: 0'] != 'Total'][df['Unnamed: 0'] != 'Total'][df['variable'] != 'Total']
  #col_names
  df.rename(columns=col_names,inplace=True)
  df.insert(1, "Year", year)
  df.insert(2,"Port",port)
  df.insert(0, "Table title", table_title)
  return df

In [ ]:
pds=[]
for el in nav_df['file path']:
  print(el)
  pds.append(pd.read_excel(el, sheet_name=sheets))

NameError: name 'nav_df' is not defined

In [ ]:
pds[6]
for el in x:
  for sheets in el['sheet_names']:
    #print(sheets)
    #print(el['file_path'])
    pds.append(pd.read_excel(el['file_path'], sheet_name=sheets))

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,السفن القادمة وحمولتها الإجمالية والصافية بالط...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arriving Vessels' Gross and Net Tonnage By Typ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ميناء الدوحة Doha Port,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Table No (1 - 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,جـدول رقم (1 - 1)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,Gross Tonnage,780,780,0,0,0,0,0,0,0,0,إجمالي الحمولة,NaN
61,NaN,Net Tonnage,234,234,0,0,0,0,0,0,0,0,صـافي الحمولة,NaN
62,Total,No. of Vessels,137,56,56,1,0,19,3,2,0,0,عــدد السفن,المجــمــوع
63,NaN,Gross Tonnage,5533414,74092,5013489,2455,0,398096,11988,33294,0,0,إجمالي الحمولة,NaN
64,NaN,Net Tonnage,4085884,55349,3795052,736,0,215556,3597,15594,0,0,صـافي الحمولة,NaN

In [ ]:
test_births=pd.read_excel('/content/Births and Deaths/Bulletin_Births_Deaths_2013_AE.xlsx',sheet_name='5',header=[4,5],index_col=[0]) #header=[4,5] multiindexing subcolumns

df_births=pd.DataFrame(test_births)
col_names=df_births.iloc[4]
df_births.replace(to_replace="$(\n)",value="",regex=True, inplace=True)
#df_births.replace(col_names.index,col_names.values,inplace=True)

#df_births=df_births.ffill(axis='columns').melt(id_vars=[0],value_vars=[1,2,3,4,5,6,7,8])
#df_births.replace(col_names.index,col_names.values,inplace=True)
#df_births = df_births[pd.to_numeric(df_births['value'], errors='coerce').notna()]
#df_births
df_births=df_births.melt(ignore_index=False)
df_births

,Nationality & Gender\n\n\n Year,None,value
2004,المجموع\nTotal,مجموع\nT,10.4
2005,المجموع\nTotal,مجموع\nT,10.5
2006,المجموع\nTotal,مجموع\nT,10.7
2007,المجموع\nTotal,مجموع\nT,9.1
2008,المجموع\nTotal,مجموع\nT,9.53
...,...,...,...
2013,الجنسية والنوع\n \n السنة,Unnamed: 10_level_1,NaN
2013,الجنسية والنوع\n \n السنة,Unnamed: 10_level_1,NaN
2013,الجنسية والنوع\n \n السنة,Unnamed: 10_level_1,NaN
2013,الجنسية والنوع\n \n السنة,Unnamed: 10_level_1,NaN
إناث\nFemales,الجنسية والنوع\n \n السنة,Unnamed: 10_level_1,NaN